{% extends 'base.html' %}

{% block content %}
	<!-- single product -->
{% if pdct %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="{{pdct.image.url}}" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3>{{pdct.name}}</h3>
						<p class="single-product-pricing"><span>Available stock : {{pdct.stock}}</span><i class="fa-solid fa-indian-rupee-sign"></i> {{pdct.price}}</p>
						<div class="single-product-form">
							<form action="index.html">
								<input type="number" placeholder="0">
							</form>
							{% if user.is_superuser %}
								{% if pdct.stock > 0 %}
									<p><strong>Product in stock</strong></p>
									<a href="{% url 'shop:addstock' pdct.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Stock</a>
								{% else %}
									<p><strong>Product in stock</strong></p>
									<a href="{% url 'shop:addstock' pdct.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Stock</a>
								{% endif %}
							{% else %}
								{% if pdct.stock > 0 %}
									<a href="{% url 'cart:addtocart' pdct.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to cart</a>
								{% else %}
									<p><strong>Product Out of stock</strong></p>
								{% endif %}
							{% endif %}
							<p><strong>Category: </strong>{{pdct.category.name}}</p>
							<h4>Details</h4>
						<p>{{pdct.desc}}</p>
						</div>
<!--						<h4>Share:</h4>-->
<!--						<ul class="product-share">-->
<!--							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>-->
<!--							<li><a href=""><i class="fab fa-twitter"></i></a></li>-->
<!--							<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>-->
<!--							<li><a href=""><i class="fab fa-linkedin"></i></a></li>-->
<!--						</ul>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->
{% endif %}
	<!-- more products -->

	<div class="more-products mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Related</span> Products</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>
			<div class="row">
				{% for i in cat.product.all %}
				{% if i.id != pdct.id %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'shop:productdetails' i.id%}"><img src="{{i.image.url}}" height="300px" alt=""></a>
						</div>
						<h3>{{i.name}}</h3>
						<p class="product-price"><i class="fa-solid fa-indian-rupee-sign"></i> {{i.price}} </p>
						<a href="{% url 'shop:productdetails' i.id%}" class="cart-btn">View</a>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end more products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

{% endblock %}